.button {
  height: 376px;
  pointer-events: auto;
  transition: all .2s ease;
  width: 400px;
  /* padding-left: 10vh; */
  /* padding-right: 10vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.button:hover {
    transform: scale(1.1);
}

.overlap-group {
  position: relative;
  width: 373px;
  height: 376px;
}

.background {
  background-color: white;
  border-radius: 10px;
  /* filter: blur(4px); */
  height: 375px;
  left: 17px;
  position: absolute;
  top: 0;
  width: 330px;
}

.vector {
  height: 150px;
  width: 150px;

  left: 90px;
  position: absolute;
  top: 54px;
  /* display: flex; */
  /* align-items: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */

}

.text-1 {
  /* height: 86px; */
  left: 0;
  /* letter-spacing: 0; */
  position: absolute;
  text-align: center;
  top: 257px;
  width: 100%;
  color: black;
  display: inline-flex;
}

.smart-layers-pointers, .smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}


/* @import url("https//fonts.googleapi.com/css?family=Lato:700"); */