.navbar-brand {
  color: #fff !important;
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 25px !important;
}

.float-left {
  display: flex;
  align-items: center;
}

.cwbi-logo {
  width: 45px;
  height: 45px;
}

.user-name {
  padding-right: 15px;
}

.flex-ac {
  display: flex;
  align-items: center;
}
